* {
    font-size: 1.2em;
}
div {
    border: 1px solid red;
}

.container {
    width: 300px;
}

.buttons-container {
    display: flex;
    
}

.clear-delete-buttons-container {
    display: flex;
    flex-grow: 1;
}

.numbers-buttons-container {
    flex-grow: 3;
}

.operators-buttons-container {
    flex-grow: 1;
}